* {
    font-family: Montserrat, "Helvetica Neue", 'Nunito Sans', Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}


/*
 * 
 */

h1 {
    font-size: 1.4rem;
    color: #9a9a9a;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.App {
    /* display: inline-block; */
    position: relative;
    width: 70%;
    text-align: left;
    padding: 1px;
    margin: 16px;
    border: 1px solid blue;
}

@media (max-width: 768px) {
    .App {
        width: auto;
        margin: 16px;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* 
 *
 */

.ctrlSpacing {
    display: inline;
}

.ctrlSpacing:not(:first-child) {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}


/*
 * Section
 */

.sectionRow {
    width: 100%;
    display: block;
}

.sectionRow:not(:first-child) {
    margin-top: 20px;
    border-top: 1px solid blue;
}

.sectionRow-area {
    display: inline-block;
    margin-right: 50px;
}


/* 
 * Buttons
 */

.btn {
    font-weight: 400;
    font-size: .8571em;
    line-height: 1.35em;
    margin: 10px 1px;
    border: none;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #888;
    color: #fff;
}

.btn-sm {
    font-size: 14px;
    border-radius: 0.1875rem;
    padding: 5px 15px
}

.btn-lg {
    font-size: 1em;
    border-radius: 0.25rem;
    padding: 15px 48px;
}

.btn-round {
    border-width: 1px;
    border-radius: 30px!important;
    padding: 11px 23px;
}

.btn-outline-info {
    color: #2ca8ff;
    border: 1px solid #2ca8ff;
    background-color: white;
}


/* 
 * Colours
 */

.btn-info {
    background-color: #2ca8ff;
    color: #fff;
}

.btn-primary {
    background-color: #f96332;
    color: #fff;
}

.btn-success {
    background-color: #18ce0f;
    color: #fff;
}

.btn-warning {
    background-color: #ffb236;
    color: #fff;
}

.btn-danger {
    background-color: #ff3636;
    color: #fff;
}


/* 
 * Links
 */

.btn.btn-link,
.navbar .navbar-nav>a.btn.btn-link {
    color: #888;
}

.btn-link {
    border: 0;
    padding: 0.5rem 0.7rem;
    background-color: transparent;
}

.btn-primary.btn-link {
    color: #f96332;
}

.btn-info.btn-link {
    color: #2ca8ff;
}

.btn-success.btn-link {
    color: #18ce0f;
}

.btn-warning.btn-link {
    color: #ffb236;
}

.btn-danger.btn-link {
    color: #ff3636;
}


/* 
 * Input
 */

.form-control {
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    color: #2c2c2c;
    height: auto;
    line-height: normal;
    font-size: .8571em;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    box-shadow: none;
}


/* 
 * codeView
 */

.codeView {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 8px;
    margin: auto;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.codeView-icons {
    float: right
}

.codeView-code {
    display: inline-block;
    line-height: 1.4rem;
    width: 100%;
    padding: 8px;
    white-space: pre;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    transition: 0.3s;
}

.codeView-items {
    display: inline-block;
    margin-bottom: 30px;
}