* {
    font-family: Montserrat, "Helvetica Neue", 'Nunito Sans', Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}


/*
 * 
 */

h1 {
    font-size: 1.4rem;
    color: #9a9a9a;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

.App {
    /* display: inline-block; */
    position: relative;
    width: 70%;
    text-align: left;
    padding: 1px;
    margin: 24px;
    margin-bottom: 30px;
    /* border: 1px solid blue; */
}

@media (max-width: 768px) {
    .App {
        width: auto;
        margin: 16px;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* 
 *
 */

.ctrlSpacing {
    display: inline;
}

.ctrlSpacing:not(:first-child) {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}


/*
 * Section
 */

.sectionRow {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.sectionRow p {
    color: var(--default-color)
}

.sectionRow:not(:first-child) {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid blue;
}

.sectionRow-area {
    display: inline-block;
    margin-right: 50px;
}


/* 
 * codeView
 */

.codeView {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    width: 100%;
    padding: 0px;
    /* margin: 0; */
    /* margin-bottom: 20px; */
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.codeView-code {
    display: none;
    grid-column: 1;
    line-height: 1.4rem;
    width: auto;
    padding: 8px;
    margin: 8px;
    margin-bottom: 20px;
    white-space: pre;
    border: 1px solid rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    transition: 0.3s;
}

.codeView-code-show {
    display: inline-block;
}

.codeView-icons {
    grid-column: 2;
    justify-self: end;
    /* background-color: aqua; */
}

.codeView-items {
    display: inline-block;
    margin-bottom: 30px;
}